*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    justify-content: center;
    align-items: center;
    width: 100%;
}

header{
    background-color: #041C32;
}

header a,#volver{
    width: 30px;
    height: 30px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img2/bombonera.jpg)
}

.form-registro{
    display: block;
    justify-content: center;
    align-content: center;
    height: 85vh;
    border: 5px solid #ECB365;
    border-radius: 1rem;
    background-color: #041C32;
    background-position: center;
    background-size: cover;
    padding: 20px 20px 20px 20px;
    margin: 50px 20px 100px 20px;
}

.form-registro img{
    width: 50px;
}

.caja-registro{
    display: flex;
    flex-direction: column;
}

.caja-registro img{
    width: 100px;
    border: 5px solid #ECB365;
    background-color: #064663;
    border-radius: 50%;
}

.form-registro .caja-registro li .titulo-registro{
    color: #ECB365;
    text-align: center;
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
    font-size: 37px;
    margin-bottom: 9px;
    margin-top: 3px;
}

.form-registro .caja-registro li{
    color: #ECB365;
    text-align: center;
}

.ing-nom_ape li label{
    font-size: 20px;
}

.ing-nom_ape li input{
    width: 230px;
    height: 25px;
}

.ing-email li label{
    font-size: 19px;
}

.ing-email li input{
    height: 25px;
    width: 230px;
}

.ing-direc li label{
    font-size: 20px;
}

.caja-direc{
    display: flex;
    flex-direction: row;
    gap: 10px;
}


.ing-direc li #direccion{
    width: 180px;
    height: 25px;
}

.ing-direc li #numero{
    width: 50px;
    height: 25px;
}

.ing-cel{
    font-size: 20px;
}

.ing-cel li input{
    width: 230px;
    height: 25px;
}


.ing-pass li label{
    font-size: 20px;
}

.ing-pass li input{
    height: 25px;
    width: 230px;
}

.ing-re_pass li label{
    font-size: 20px;
}

.ing-re_pass li input{
    width: 230px;
    height: 25px;
}

.btn-enter{
    margin-top: 7px;
    width: 150px;
    height: 30px;
    background-color: #064663;
    border: 2px solid #ECB365;
    border-radius: 1rem;
    color: #ECB365;
    font-weight: bold;
}
/* ///////////////////////////////////////////// */

@media screen and (min-width: 1024px){
    main{
        background-size: 100% 100%;
    }
}
