*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    background-color: #041C32;
}

/* Header/////////////////////////////////////////////////////////////////////////////////////////////// */

.contenedor-text1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #ECB365;
    background-color: #041C32;
    text-shadow: 1px 1px #064663;
    width: 100%;
}

.contenedor-text1 li{
    height: 11px;
}

.contenedor-text1 li p{
    text-align: center;
    font-size: 9px;
}

.hero-img{
    width: 100%;
    border: 3px solid #603F26;
}

.slogan{
    display: block;
    justify-content: center;
    text-align: center;
    color: #ECB365;
    text-shadow: 2px 2px #064663;
    background-color: #041C32; 
    width: 100%;
}

.slogan p{
    font-family: "EB Garamond", sans-serif;
    font-size: 18px;
    font-weight: bold; 
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

/* Nav////////////////////////////////////////////////////////////////////////////////////////////////// */

.contenedor-nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;

    background-color: #041C32;
    color: #ECB365;
    font-size: 11px;
    font-weight: bold;
    text-shadow: 2px 2px #064663;
    padding-top: 10px;
}

.contenedor-nav li a{
    text-decoration: none;
    color: #ECB365;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#Buscador{
    width: 90px;   
    height: 10px;
    background-color: #ECB365;
    border: 1px solid #064663;
}

#Menu{
    display: none;
}

.menu-vertical{
    display: none;
    position: absolute;
    background-color: #041C32;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    text-decoration: none;
    color: #ECB365;
    width: auto;
    right: 0px;
}

.menu-vertical li{
    padding-top: 3px;
    padding-bottom: 3px;
    border: 1px solid #ECB365;
}

.menu-vertical li a{
    color: #ECB365;
    font-size: 8px;
    text-align: center;
}

#Menu:checked ~ .menu-vertical{
    display: block;
}

#Img-menu{
    height: 15px;
}

#Buscador::placeholder{
    font-size: 8px;
    padding-left: 3px;
}

/* Pizzas ///////////////////////////////////////////////////////////////////////////////////////////// */

.info-pizza{
    width: 100%;
}

.contenedor-main{
    background-color: #064663;
    padding-top: 25px;
    padding-bottom: 50px;
}

.titulo-caja{
    text-align: center;
    font-family: "Italiana", sans-serif;
    font-weight: bold;
    color: #ECB365;
}

.caja-pizza{
    display: flex;
    flex-direction: column;
    color: #ECB365;
    font-size: 10px; 
    margin-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.caja-bebida{
    display: flex;
    flex-direction: column;
    color: #ECB365;
    font-size: 10px; 
    margin-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
}   

.caja-postre{
    display: flex;
    flex-direction: column;
    color: #ECB365;
    font-size: 10px; 
    margin-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.caja-bebida ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #041C32;
    border-radius: 1rem;
    margin: 10px 10px 0px 10px;
    padding: 10px 10px 5px 10px;
    text-align: center;
}

.caja-postre ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #041C32;
    border-radius: 1rem;
    margin: 10px 10px 0px 10px;
    padding: 10px 10px 5px 10px;
    text-align: center;
}

.titulo-bebidas{
    padding-top: 20px;
}

.titulo-postres{
    padding-top: 20px;
}

.caja-pizza ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #041C32;
    border-radius: 1rem;
    margin: 10px 10px 0px 10px;
    padding: 10px 10px 5px 10px;
    text-align: center;
}

.caja-pizza ul li h3{
    font-family: "Italiana", sans-serif;
    font-size: 15px;
}

.img-presentacion{
    width: 70px;
    height: 70px;
    border-radius: 1rem;
}

.contenedor-btn{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.contenedor-btn a {
    background-color: #ECB365;
    color: #041C32;
    text-shadow: 1px 0px #064663;
    font-size: 15px;
    font-weight: bold;
    border-radius: 1rem;
    padding: 4px 4px 4px 4px;
}

.contenedor-btn p{
    font-size: 13px;
    font-weight: bold;
}
/* Footer////////////////////////////////////////////////////////////////////////////////////////////////*/
.contenedor-padre-footer{
    display: block;
    width: 100%;
}

.text-calidad{
    padding-top: 15px;
    width: 100%;
}

.text-calidad li p{
    font-size: 17px;
    text-align: center;
    font-family: 'Playwrite IT Moderna'; 
    color: #ECB365;
}

.text-horario{
    font-size: 15px;
    color: #ECB365;
    text-align: center;
}   

.contenedor-footer{
    display: flex;
    flex-direction: column;
    background-color: #041C32;
    color: #ECB365;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-family: "Italiana", sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.contenedor-padre-footer .contenedor-footer li h2{
    font-size: 30px;
    text-decoration: overline;
}

.img-redes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 13px;
}

.text-contactanos{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 10px;
}

.num-celular{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.mail-delpuente{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

/* Copyright////////////////////////////////////////////////////////////////////////////////////////// */

.contenedor-copyright{
    background-color: #ECB365;
    color: #041C32;
    text-shadow: 2px #064663;
    font-size: 9px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
}

/*Media:
@media (max-width) : es para indicar hasta q máximo de resolución queres que se vea el ajuste.
 Por ejemplo max width 500px engloba desde 1px hasta 500px.

@media (min-width): es para indicar hasta q resolución mínima queres q se vea el ajuste.
Por ejemplo min width 500px engloba desde 500px hasta infinito (no engloba de 1px hasta 499px)


Si pones @media max width 500px y otro max width 600px, el primero va a englobar de 1px hasta 500px 
y el segundo va a englobar desde 501px hasta 600px.

Si pones @media min width 500px y otro min width de 700px, el primero va a englobar desde 500px hasta 700px 
y el 2do va a englobar desde 701px hasta infinito (o hasta el prox min width)

////////////////////////////////////////////////////////////////////////////////////////////////  ///////////////////*/
@media (min-width: 374px){
    .slogan p{
        padding-left: 30px;
        padding-right: 30px;
        font-size: 20px;
    }

    .menu-vertical{
        width: 70px;
        right: 2px;
    }
}

@media (min-width: 425px){
    .contenedor-text1 li p{
        font-size: 12px;
    }

    .slogan p{
        padding-left: 25px;
        padding-right: 25px;
        font-size: 22px;
    }

    .menu-vertical{
        width: 80px;
        right: 5px;
    }   

    .text-calidad li p{
        font-size: 22px;
        padding-left: 17px;
        padding-right: 17px;
    }

    .contenedor-padre-footer .contenedor-footer li h2{
        font-size: 35px;
        text-decoration: overline;
    }
}

@media (min-width: 550px){
    .contenedor-text1 li p{
        font-size: 12px;
    }

    .hero-img{
        margin-top: 3px;
    }

    .slogan p{
        padding-left: 35px;
        padding-right: 35px;
        font-size: 25px;
    }

    .contenedor-nav{
        padding-top: 15px;
        padding-bottom: 5px;
    }

    .menu-vertical{
        right: 10px;
        width: 90px;
        margin-top: 5px;
    }

    .menu-vertical li a{
        font-size: 10px;
    }

    #Buscador{
        height: 13px;
        width: 120px;
    }

    .opciones-nav{
        font-size: 13px;
    }

    .contenedor-main .caja-pizza ul{
        margin-left: 50px;
        margin-right: 50px;
    }

    .contenedor-main .caja-pizza ul img{
        width: 120px;
        height: 120px;
    }

    .contenedor-main .caja-pizza ul h3{
        font-size: 20px;
    }

    .contenedor-main .caja-pizza ul p{
        font-size: 12px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .contenedor-main .caja-bebida ul{
        margin-left: 50px;
        margin-right: 50px;
    }

    .contenedor-main .caja-bebida ul img{
        width: 120px;
        height: 120px;
    }

    .contenedor-main .caja-bebida ul h3{
        font-size: 18px;
    }

    .contenedor-main .caja-bebida ul p{
        font-size: 12px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .contenedor-main .caja-postre ul{
        margin-left: 50px;
        margin-right: 50px;
    }

    .contenedor-main .caja-postre ul img{
        width: 120px;
        height: 120px;
    }

    .contenedor-main .caja-postre ul h3{
        font-size: 20px;
    }

    .contenedor-main .caja-postre ul p{
        font-size: 12px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .text-calidad li p{
        font-size: 28px;
    }

    .contenedor-padre-footer .contenedor-footer li h2{
        font-size: 40px;
        text-decoration: overline;
    }

    .contenedor-padre-footer .contenedor-footer li iframe{
        width: 400px;
        height: 250px;
    }
}

